<div class="links form">
<?php echo $this->Form->create('Link'); ?>
	<fieldset>
		<legend><?php echo __('Add Link'); ?></legend>
	<?php
		// echo $this->Form->input('user_id');
		//
		echo $this->Form->input('url', array('type' => 'url'));


		// echo $this->Form->input('ip');
		// echo $this->Form->input('machine');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
