//
// Theme - Default
// @autor : Gabriel <gabriel@poloid.com.br>
// @date  : 09/06/2014
//

//@path-bootstrap : "../bootstrap/";

// Bootstrap components
@import "bootstrap-custom/bootstrap-modules.less";

// body{
//     background-image: url("../img/LinkestGUI_v.0.0.1.jpg");
//     background-repeat: no-repeat;
//     background-position: center top;
// }

#NavHeader{
    // height: @header-heigth;

    &.navbar-default {
        .navbar-nav{
            .f-bold;
            .glyphicon{
                font-size: 1.2em;
            }

            > li > a {
                color: @navbar-default-link-color;
                top: 1px;
                border-bottom: 4px solid transparent;
                padding-top: 13px;
                padding-bottom: 13px;
                &:hover, &:focus {
                    color: @navbar-default-link-hover-color;
                    border-bottom-color: @orange;
                    background-color: transparent;
                }
            }
            > .active > a {
                &, &:hover, &:focus {
                    color: @navbar-default-link-hover-color;
                    border-bottom-color: @orange;
                    background-color: transparent;
                }
            }
        }
    }


    .navbar-form{
        position: relative;
        input.form-control,
        .btn{
            .border-radius(20px);
        }

        input.form-control{
            .placeholder(#fff);
            color: #fff;
            background-color: @gray-soft;
            padding-right: 40px;
        }

        .btn{
            position: absolute;
            top: 1px;
            right: 15px;
            border: 0 none;

            &:hover,
            &:focus{
                color: @orange;
            }
        }
    }
}
    #Logo{
        // @width: 44px;
        // @height: 50px;
        display: block;
        position: relative;
        top: 3px;
        // img{
        //     position: absolute;
        //     top  : 4px;
        //     left : 50%;
        //     margin-left: -1 * (@width / 2);
        // }
    }

main{
    padding-top: @header-heigth + 20;
}


//
// Posts
// --------

article{
    padding: 2px 0;
    h1{
        font-size: 16px;
    }

    h1,
    .post-info,
    .btn-toolbar{
        padding: 3px 5px;
    }

    .post-info{
        &, a{
            .text-muted;
        }
        .tags{
            .pull-right();
        }
    }


    .btn-toolbar{
        .text-center;
        .btn-group,
        .input-group{
            float: none;
        }
    }
}
