//
// Badges
// --------------------------------------------------
@import "../bootstrap/badges.less";

// Colors
// Contextual variations (linked badges get darker on :hover)

.badge-default {
  .label-variant(@label-default-bg);
}

.badge-primary {
  .label-variant(@label-primary-bg);
}

.badge-success {
  .label-variant(@label-success-bg);
}

.badge-info {
  .label-variant(@label-info-bg);
}

.badge-warning {
  .label-variant(@label-warning-bg);
}

.badge-danger {
  .label-variant(@label-danger-bg);
}
