//
// Breadcrumbs
// --------------------------------------------------
@import "../bootstrap/breadcrumbs.less";

.breadcrumb{
    .box-shadow(~"0 1px 5px rgba(0, 0, 0, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 1) inset");

    a:hover{
        text-decoration: none;
    }
}