//
// Button groups
// --------------------------------------------------
@import "../bootstrap/button-groups.less";

#MainNavbar{
    .btn-toolbar {
        .btn-group,
        .input-group {
            float: none;
        }
    }
}