//
// Forms
// --------------------------------------------------
@import "../bootstrap/forms.less";

label.control-label{
    cursor: pointer;
}


.coverfly{
    &,
    & > img{
        background-position: center;
        background-size: cover;
        background-repeat: none;
    }
}


//
// Forms
//
label.control-label{
    cursor: pointer;
}
