//
// Navbars
// --------------------------------------------------
@import "../bootstrap/navbar.less";


.navbar-default{
    .box-shadow(~"0 1px 3px rgba(0,0,0,0.03)");
    border-bottom: 1px solid #f5f5f5;
}


#MainNavbar{
    border-bottom-color: @brand-primary;
}

//
// NavbarBreadcrumb (new)
//
.navbar-breadcrumb{

    // TODO: aplicar estilos para outros themas

    > li {
        border-left: 1px solid @gray-lighter;
        &:first-child{
            border-left: 0 none;
        }
        > a{
            &:hover,
            &:focus {
                color: @navbar-default-link-active-color;
                background-color: @navbar-default-link-active-bg;
            }
        }
    }
    > .active > span:extend(.navbar-default .navbar-nav > .active > a all){
        margin: 0;
        padding: 15px;
    }
}
