//
// Panels
// --------------------------------------------------
@import "../bootstrap/panels.less";

/*
.panel{
	.panel-heading,
	.panel-title{
		.h3;
		&,
		& > a{
			// font-size: 1.16em;
			font-weight: 300;
		}
	}

	.panel-heading{

		// .h3;

		.panel-title{
			margin: 0;
			display: inline-block;
			// font-weight: bold;

			> a{
				max-width: 80%;
				display: inline-block;
			}
		}
	}

	.panel-body{
		padding: 10px;
		time{
			color: @link-color;
		}
	}
}*/

/*.panel-white {
	background: white;
	border: 0 none;
	.panel-variant(transparent; @text-color; @snow; transparent);
	.panel-heading{
		margin-bottom: 10px;
		h3{
			font-weight: bold;
		}
	}

	.list-group .list-group-item{
		padding-left: 0;
		padding-right: 0;

		background: transparent;

		&:hover{
			background: white;

			&, & strong{
				color: @link-color !important;
			}
		}
	}
}*/

.panel-black {
  .panel-variant(@panel-default-border; white; @gray-dark; @panel-default-border);
}

