//
// Scaffolding
// --------------------------------------------------
@import "../bootstrap/scaffolding.less";

html, body{
    .full-height() !important;
}
body{
	font-weight: 300;
}


// Image thumbnails
//
.thumb img,
.thumb-mini img,
.thumb-small img,
.thumb-large img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}


/*
 TAGLIST : lista de tags e categorias
*/
.taglist{
    max-height:187px;
    overflow: auto;

    .ui-button{
        display: block;
        text-align: left;
    }
}
