//
// Tables
// --------------------------------------------------
@import "../bootstrap/tables.less";

// Table Utilities

.col-fix(@size : 30){
    .col-fix-@{size}{
        width: @size + 0px;
    }
}

.col-fix(30);
.col-fix(50);
.col-fix(80);
.col-fix(100);
.col-fix(120);
.col-fix(200);
.col-fix(250);
.col-fix(300);
.col-fix(350);
.col-fix(400);
