//
// Typography
// --------------------------------------------------
@import "../bootstrap/type.less";

.lead {
	font-weight: 300;
}

.section-title{
	text-align: center;
	margin-bottom: 30px;
	h1, .h1 {
		text-shadow: 1px 1px rgba(0,0,0,0.2);
		font-weight: 300;
		margin: 0;
		font-size: 2.85em;
	}
}
