//
// Utility classes
// --------------------------------------------------
@import "../bootstrap/utilities.less";

/*
 * RESET
 */
 figure{
    margin: 0
 }

/*
 * Chrome Frame prompt
 */
.chromeframe {
    margin: 0;
    background: #ED3237;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

//
// Displays
// -------------------
    .d-table{
        display: table;
        width: 100%;
    }
    .d-row{
        display: table-row;
    }
    .d-cell{
        display: table-cell;
    }
    .d-iblock{
        display: inline-block !important;
    }
    .d-inline{
        display: inline!important;
    }

    .clear-right{clear: right;}
    .clear-left{clear: left;}


/* Text align */
    .text-left{ text-align:left;}
    .text-right{ text-align:right;}
    .text-center{ text-align:center;}
    .text-underline{ text-decoration:underline;}
    .text-strikethrough{ text-decoration:line-through;}
    .text-wrap{ .text-overflow(); }
    .f-thin{ font-weight: 300 !important; }
    .f-normal{ font-weight: normal !important; }
    .f-bold{ font-weight:bold !important;}
    .f-italic{ font-style:italic !important;}

    .pull-none{
        float: none !important;
    }

    .p-relative{
        position: relative;
    }


// Spacements
    .set-padding(30);
    .set-padding-top(40);
    .set-padding-right(40);
    .set-padding-bottom(40);
    .set-padding-left(40);
    .set-neg-padding(30);
    .set-neg-padding-top(30);
    .set-neg-padding-right(30);
    .set-neg-padding-bottom(30);
    .set-neg-padding-left(30);

    .set-margin(30);
    .set-margin-top(40);
    .set-margin-right(40);
    .set-margin-bottom(40);
    .set-margin-left(40);
    .set-neg-margin(30);
    .set-neg-margin-top(30);
    .set-neg-margin-right(30);
    .set-neg-margin-bottom(30);
    .set-neg-margin-left(30);


// Clear
    .no-bgimg{background-image:none!important}
    .no-border{border:0 none!important}
    .no-padding{padding:0!important}
    .no-margin{margin:0!important}

    .no-mr{margin-right:0!important}
    .no-mb{margin-bottom:0!important}
    .no-mt{margin-top:0!important}
    .no-ml{margin-left:0!important}

    .no-pr{padding-right:0!important}
    .no-pl{padding-left:0!important}
    .no-pb{padding-bottom:0!important}
    .no-pt{padding-top:0!important}

    .no-box-shadow{.box-shadow(0 0 0 0)!important}
    .no-border-radius{.border-radius(0)!important}



/**
 * Measuring Units
 */
    .size-x1{ font-size: 1em }
    .size-x2{ font-size: 2em }
    .size-x3{ font-size: 3em }
    .size-x4{ font-size: 4em }
    .size-x5{ font-size: 5em }

    .small-x1{ font-size: 90% }
    .small-x2{ font-size: 80% }
    .small-x3{ font-size: 70% }
    .small-x4{ font-size: 60% }
    .small-x5{ font-size: 50% }

    .valign-m{ vertical-align: middle }
    .valign-b{ vertical-align: bottom }



//
// Pallet Colors
// ------

// Colors
//
    .color-white{
        color: white;
    }
    .color-gray{
        color: @gray;
    }
    .color-primary{
        color: @brand-primary;
    }
    .color-info{
        color: @brand-info;
    }
    .color-warning{
        color: @brand-warning;
    }
    .color-danger{
        color: @brand-danger;
    }




// Form
// --------------------------------------------------
// @link: http://dan.doezema.com/2012/03/twitter-bootstrap-radio-button-form-inputs/
.btn-toggle{
    // Active state
    label.btn:hover,
    label.btn.active,
    label.btn:active {
        background-image: none;
        color: @btn-primary-color;
        background: @btn-primary-bg;
        border: 1px solid @btn-primary-border;
    }

    /*label{
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }*/

    .btn {
        position:relative;
        input[type=radio],
        input[type=checkbox]{
            display: none;
            /*display:    block;
            position:   absolute;
            top:        0;
            left:       0;
            margin:     0;
            width:      100%;
            height:     100%;
            .opacity(0);*/
        }
    }
}

.lazyLoad, .img-loading{
    background: url("@{base-url}img/icons/ajax-loader.gif") center no-repeat;
}
