//
// Variables
// --------------------------------------------------
@import "../bootstrap/variables.less";

@base-url: "http://127.0.0.1/linkest/";

//
// Color Swatches - Paleta de cores do site
// --------------------------------------------------

@blue-primary  : @brand-primary;
@blue          : #145776;
@blue-light    : #2781BD;
@orange        : #ff6600;
@orange-light  : #F59D1D;
@gray-soft     : #a3acb2;
@ice           : #f5f8fa;
@snow          : darken(white, 2%); // #fafafa
@brand-primary : @orange-light; // substitui o padrão do bootstrap


// Paths
// -------------------------

@icon-font-path : "@{base-url}fonts/";


// Typography
// -------------------------

@font-family-base     : "Lato", Helvetica, Arial, sans-serif;
@headings-font-family : @font-family-base;


// Navbar
// -------------------------
@navbar-default-bg    : #fff;
@navbar-default-color : @gray-soft;


// Scaffolding
// -------------------------

@body-bg       : @ice;
@header-heigth : 50px;


//== Forms
//
//##

@input-border-focus: @orange-light;

//== Media queries breakpoints

// Super Extra small screen / phone
@screen-sxs-min : 360px;